*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: rgb(247, 247, 247);
    color: rgb(2,4,7);

}
#root, noscript{
    text-align: center;
    margin-top: 20%;
    height: 100vh;
}
.container{
    height: 100%;

}

footer{
    background-color: rgb(65, 65, 65);
    color:azure;
}
a{
    text-decoration: none;
}